button {
  font-family: "DotGothic16", sans-serif;
  font-weight: bold;
  background-color: white;
  font-size: 20px;
  border: none;
  margin: 5px;
}
button:hover {
  border-bottom: 1px solid black;
}

.Header {
  height: 21px;
  margin-bottom: 20px;
}

button:focus {
  outline: none;
}
