.Home {
  display: flex;
  width: 70vw;
  height: 80vh;
  margin: auto;
}
.Home > img {
  width: 300px;
  height: fit-content;
  margin: 20px 0px;
}
footer > img {
  width: 20px;
  height: fit-content;
}
.Home > p {
  height: 50vh;
  margin-left: 10px;
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
