.Home {
  display: flex;
  width: 50vw;
  height: 80vh;
  margin: auto;
}
.Home > img {
  margin: 15px auto;
  width: 300px;
  height: fit-content;
}
footer > img {
  width: 20px;
  height: fit-content;
}
.Home > p {
  margin-left: 20px;
  height: 50vh;
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .Home {
    width: 80vw;
    display: flex;
    flex-direction: column;
    height: 75vh;
  }
  .Home > p {
    margin-left: 0px;
  }
}
