.Home {
  display: flex;
  width: 45vw;
  height: 70vh;
  margin: auto;
}
.Home > img {
  border-radius: 22px;
  margin: 15px auto;
  width: 300px;
  height: fit-content;
}
footer > img {
  width: 20px;
  height: fit-content;
  margin: 5px;
}
.Home > p {
  margin-left: 20px;
  height: 50vh;
  text-align: left;
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1320px) {
  .Home {
    width: 80vw;
    display: flex;
    flex-direction: column;
  }
  .Home > p {
    margin-left: 0px;
    text-align: center;
    font-size: small;
  }
  .Publication {
    font-size: small;
  }
  footer {
    display: none;
  }
}
@media only screen and (max-height: 620px) {
  footer {
    display: none;
  }
}
