.Popup {
  color: white;
  position: fixed;
  background-color: #21211f;
  width: 90vw;
  height: 90vh;
  top: 10vh;
  left: 5vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}
.Popup > h2 {
  justify-self: flex-start;
  margin-top: 0;
}

.video-container > video:focus {
  outline: none;
}
.video-container {
  height: 58vh;
  width: 60vw;
  object-fit: contain;
}

.popupinfo > a:visited {
  color: white;
}
.popupinfo > a {
  color: white;
}
.popupinfo > p {
  width: 60vw;
}
.closeicon {
  /* text-align: end; */
  align-self: flex-end;
  background-color: #21211f;
  width: 20px;
  margin-right: 15px;
  margin-top: 15px;
  color: white;
}

@media only screen and (max-width: 500px) {
  .popupinfo > p {
    font-size: 0px;
  }
}
