.Projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loading-page {
  position: absolute;
  text-align: center;
  background-color: white;
  top: 0;
  width: 100vw;
  height: 100vh;
}
