.Publication {
  border-bottom: 1px solid black;
  width: 80vw;
  margin: 20px auto;
}

.yearlink {
  display: flex;
  justify-content: center;
}
.yearlink > div {
  margin: 0px 20px;
}

.yearlink > a {
  color: black;
}

.yearlink > a:visited {
  color: black;
}
