.Publication {
  border-bottom: 1px solid lightgray;
  text-align: left;
  width: 45vw;
  margin: 30px auto;
  min-width: 370px;
  padding: 0 10px;
}
.Publication-cont {
  display: flex;
}
img {
  width: 20vw;
  object-fit: contain;
  margin-right: 30px;
}

.Publication > a {
  color: black;
  text-decoration: none;
}

.Publication > a:visited {
  color: black;
  text-decoration: none;
}

.Publication > a:hover {
  color: gray;
}
